In [2]:
import pandas as pd

In [44]:
df = pd.read_csv(r"C:\Users\Staff Asia\Downloads\con email 2 - Sheet1.csv")
df

,email,company_website
0,{'info@msasafety.co.uk'},https://www.msasafety.co.uk
1,{'sales@mjevansconstruction.co.uk'},https://www.mjevansconstruction.co.uk
2,{'info@mictraining.co.uk'},https://www.mictraining.co.uk
3,{'605a7baede844d278b89dc95ae0a9123@sentry-next...,https://www.m2safety.co.uk
4,{'info@mabbett.eu'},https://www.mabbett.eu
...,...,...
346,{'info@xreconstructiontraining.co.uk'},https://www.xreconstructiontraining.co.uk
347,{'info@ywbt.co.uk'},https://www.ywbt.co.uk
348,{'98b21aa53d68482b8414e892d9af0e5f@sentry-next...,https://www.youcandoit.training
349,{'guleed.abokor@live.com'},https://www.zems.org.uk
350,{'info@zerogravitysafety.co.uk'},https://www.zerogravitysafety.co.uk

In [43]:
df2 = pd.read_csv(r"C:\Users\Staff Asia\Downloads\con web 2 - Sheet1 (1).csv")
df2

                                      website
0                https://www.macsurfacing.com
1    https://www.majesticsitemanagement.co.uk
2        https://www.malvernscaffolding.co.uk
3           https://www.lamanvatraining.co.uk
4                   https://www.mantank.co.uk
..                                        ...
170       https://www.wintle-campcoaching.com
171                         https://www.wj.uk
172             https://www.wowtraining.co.uk
173           https://www.wtconsultancy.co.uk
174                 https://www.wyevern.co.uk

[175 rows x 1 columns]

In [46]:
# n_web=[]
n_data = []
for i in df2['website']:
    count = 0
    for j in df['company_website']:
        if i==j:
            n_web = i
            n_em = df["email"][count]
            break
        else:
            n_web = i
            n_em = "N/A"
        count+=1
    dic = {
        "New web":n_web,
        "New email":n_em
    }
    n_data.append(dic)

In [47]:
n_df = pd.DataFrame(n_data)
n_df

,New web,New email
0,https://www.macsurfacing.com,{'info@macsurfacing.com'}
1,https://www.majesticsitemanagement.co.uk,N/A
2,https://www.malvernscaffolding.co.uk,{'innovate@malvernscaffolding.co.uk'}
3,https://www.lamanvatraining.co.uk,{'info@lamanvatraining.co.uk'}
4,https://www.mantank.co.uk,N/A
...,...,...
170,https://www.wintle-campcoaching.com,N/A
171,https://www.wj.uk,N/A
172,https://www.wowtraining.co.uk,{'info@wowtraining.co.uk'}
173,https://www.wtconsultancy.co.uk,{'office@wtconsultancy.co.uk'}
174,https://www.wyevern.co.uk,"{'wyevern1956@gmail.com', '605a7baede844d278b8..."

In [48]:
n_df.to_csv("../E-learning company in USA/construction email new from website 600-1000 new.csv",index=False)